@media only screen and (min-width: 64rem) {
      body {
        max-width: 1600px;
      }
    
    .logo img {
        width: 25%;
    }
    
    .social img {
        display: flex;
        justify-content: space-evenly;
        width: 3%;
        float: right;      
    }
    
    main {
        display: grid;
    }
    
    #nav {
        display: block;
        list-style: none;
        font-family: 'Merriweather', serif;
        padding: 3%;
        margin-left: 5%;
        box-shadow: 2px 2px 2px #333;
        margin-top: -5%;
        background-color: #FFC627;
        width: 50%;
        border: 2px dotted #D41D31;
        text-align: center;
        color: #333;
        font-size: 2rem;
        line-height: 3rem;
    }

    #nav li:first-child {
        font-size: 3rem;
        line-height: 3rem;
        text-decoration: underline;
    }

    #nav a {
        text-decoration: none;
        color: #333;
    }

    #nav li a {
        display: block;
    }

    #nav li a:hover {
        background-color:#D41D31;
        color: #F0EEE1;
        cursor: pointer;
    }

    #nav li.active a {
        color: #F0EEE1;
        background-color: #29427B;
    }

    #nav li.active a:hover {
        color: #F0EEE1;
        background-color: #D41D31;
    } 

    #hamburgerBtn, #contactBtn {
        display: none;
    }
    
    .homecontact {
        line-height: 1.5rem;
        font-size: 1rem;
        padding: .75rem;
        grid-column: 1/3;
        margin: 0 auto;
    }
    
    .homecontact li:first-child {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .order h1 {
        font-size: 3rem;
        float: left;
        margin-left: 5%;
        margin-top: -1%;
    }
    
    .area {
        margin: 3%;
    }
    
    .area h2 {
        font-size: 2rem;
        line-height: 1.5rem;
        padding: 20px;
    }
    
    .area p {
        font-size: 1.25rem;
        text-align: center;
        line-height: 2rem;
        padding: 20px;
    
    }
    
    .area img {
        margin: 20px;
        width: 50%;
        height: 20%;
    }
    
    #readBtn {
        padding: 3px;
        background-color: #D41D31;
        font-family: 'Merriweather', serif;
        color: #F0EEE1;
        margin: 7px;
    }
    
    #more {
        display: none;
    }
    
    .weather-card {
        padding: 5%;
        margin: 5% 5%;
    }
    
    .drink-card {
        padding: 2%;
        width: 90%;
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    .drink-card img {
        width: 40%;
        height:60%;
    }
    
    .drink-card h5 {
        font-size: 2rem;
    }
    
    .drink-card p.juiceNum {
        font-size: 1.5rem;
    }

    .drink-card p.rewards {
        font-size: 1.5rem;
    }

    #juices {
        line-height: 3rem;
    }

    #juices, #rewards  {
        font-size: 2rem;
    }
    
    .aboutus {
        grid-column: 1/3;
        padding: 1rem;
        margin: 2% 3%;
    }
    
    .aboutus h3 {
        font-size: 2rem;
    }
    
    .aboutus p {
        font-size: 1.5rem;
        line-height: 3rem;
    }
    
    .aboutus img {
        border: 5px solid #F0EEE1;
        box-shadow: 2px 2px 2px #333;
        width: 30%;
        height: 30%;
        float: right;
    }
    
    #contBtn {
        padding: 3px;
        background-color: #D41D31;
        font-family: 'Merriweather', serif;
        color: #F0EEE1;
        margin: 7px;
    }
    
    #readmore {
        display: none;
    }
    
    .aboutus-order {
        font-size: 2rem;
        grid-column: 2/3;
        grid-row: 3/4;
        height: 10%;
        margin-top: 30%;
    }

    .schedule table {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 100%;
        padding: 10px;
        margin-left: 6%;
        box-shadow: 3px 3px 2px #333;;
    }
    
    .contactmap {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
    .contactmap h4 {
        font-size: 1.75rem;
        padding: 15px;
        margin-left: 3%;
    }
    
    .contactmap iframe {
        width: 97%;
        height: 85%;
        margin: 2% 5%;
    }

    .aboutus-contact {
        grid-column: 2/3;
        grid-row: 5/6;
        height: 60%;
        margin-top: 15%;
    }

    .aboutus-contact {
        line-height: 3rem;
        font-size: 1.5rem;
        padding: 5%;
    }
    
    .aboutus-contact li:first-child {
        font-size: 2rem;
        line-height: 4rem;
    }

    .weather-card {
        grid-column: 1/2;
        padding: .5rem;
        margin: 1rem;
    }

    form {
        width: 55%;
    }
    
    form label.top input, form label.top select {
        display: block;
        font-family: 'Merriweather', serif;
        font-size: 1.25rem; 
        border: 1px solid #29427B;
        border-radius: 4px;
        padding: .75rem;
        color: #555;
        width: 75%;
        max-width: 40rem;
    }
    
    #locations {
        display: block;
        font-family: 'Merriweather', serif;
        font-size: 1.25rem; 
        border: 1px solid #29427B;
        border-radius: 4px;
        padding: .35rem;
        color: #555;
        width: 100%;
        max-width: 40rem;
    }
    
    form label.sbs {
        display: block;
        padding: .75rem;
        color: #555;
        font-family: 'Merriweather', serif;
        font-size: 1rem;
     }
    
     #fruit1, #fruit2, #fruit3 {
        display: block;
        font-family: 'Merriweather', serif;
        font-size: 1.25rem; 
        border: 1px solid #29427B;
        border-radius: 4px;
        padding: .35rem;
        color: #555;
        width: 100%;
        max-width: 40rem;
     }
    
     #submitBtn {
        border: none;
        background-color: #29427B;
        color: #F0EEE1;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 0 0 2rem 2%;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 1.2rem;
        cursor: pointer;
        width: 96%;
        max-width: 17rem;
        text-shadow: 2px 2px 1px #333;
        box-shadow: 2px 2px 2px #333;
     }
    
     #orderinfo {
        width: 40%;
        float: right;
        margin-top: -66%;
     }

     #nutrition {
        width: 40%;
        float: right;
        margin-top: -36.5%;
     }


    .footer {
        background-color: #29427B;
        font-size: .9rem;
        display: flex;
        justify-content: space-around;
    }
    
}