@media only screen and (min-width: 64rem) {
    .banner-content {
        padding: 16px;
        max-width: 750px;
    }
    
    .banner-text p {
        font-size: 1.25rem;
    }

    .logo {
        width: 50%;
        padding: 15px;
    }

    .header {
        font-size: 3rem;
        text-align: left;
    }

    header {
        display: grid;
        grid-template-columns: 20% 60% 20%;
    }
    
    nav button {
        display: none;
    }

    nav img {
        width: 50%;
    }


    .current-date {
        font-size: 1.5em;
        background-color: black;
    }

    nav ul {
        
        display: block;
        margin: 0 auto;
    }

    main {
        display: grid;
        grid-template-columns: 20% 60% 20%;
    }

    #hero img {
        margin-left: 10px;
        grid-column: 1/3;
        width: 97%;
    }

    #hero h4 {
        margin-left: 10px;;
    }

    .herojoin {
        right: 350px;
        top: 775px;
    }

    #event {
        margin-top: 10px;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-right: 10px;
        font-size: 1.25rem;
    }

    #event p {
        font-size: 1.15rem;
    }

    #event img {
        width: 60%;
    }


    #weather {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-right: 10px;
    }

    #weather h4 {
        font-size: 1.5rem;;
    }

    #weather p {
        font-size: 1.25rem;
    }
    
    #weather .weathercontainer p{
        font-size: 3rem;
    }

    .weathercontainer {
        position: relative;
        float: right;
    }

    #weather .wind {
        margin-top: 10px;
    }

    #weather figure {
        font-size: 1.5rem;
    }

    #join {
        height: 180px;
        margin-right: 10px;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #join p {
        font-size: .85rem;
        padding: 7px;
        text-align: center;
        letter-spacing: 1px;
    }

#event, #weather, #join {
    margin-left: 25px;
}

    #hero {
        grid-column: 2/3;
        grid-row: 1/3;
        margin-top: 10px;
    }

    #news {
        grid-column: 2/3;
        grid-row: 3/4;
        margin-right: 15px;
        margin-bottom: 20px;
    }


    #spotlight {
        display: flex;
        flex-direction: column;
        grid-column: 3/4;
        grid-row: 1/4;
        margin-right: 25px;
        margin-bottom: 20px;
    }


    .spotlight3, .spotlight1, .spotlight2 {
        display: block;
        margin-left: 15px;
    }

    .spotlight2 h4, .patty-card {
        margin-top: 40px;
    }

    .axel-card img {
        width: 40%;
        margin: 5px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px #555;
        
    }
    
    .axel-card h5, .spotlight3 h4 {
        font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    }
    
    .axel-card {
        font-family: 'Bree Serif', 'serif';
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px dashed black;
        padding-bottom: 20px;
        border-radius: 30px;
        background-color:#EBE7DE;
        color:rgb(61, 61, 61);
        width: 80%;
        margin-top: 40px;
    }

    .rocco-card, .spotlight2 {
        width: 80%;
    }

    .patty-card, .spotlight1 {
        width: 85%;
    }

    #discover img {
        margin-left: 300px;
        width: 60%;
        height: 60%;
    }

    .text {
        margin: 1% auto;
        margin-left: 90px;
        margin-right: 90px;
        font-size: 20px;
        padding: 10px;
      }

      .visitnum {
        font-size: 20px;
      }

      .joinpage {
        text-align: center;
        grid-column: 1/4;
        font-family: 'Bree Serif', 'serif';
        margin: 0.5% auto;
      }
    
      .joinpage h2 {
        font-size: 3rem;
      }
    
      .joinpage h3 {
        font-size: 2rem;
      }
    
    
    #joinpage {
        grid-column: 2/3;
        min-height: 20rem;
        margin: 3% auto;
        margin-left: 4px;
        width: 100%;
        max-width: 40rem;
    }
    
    form fieldset {
        font-family: 'Noto Sans Adlam Unjoined', sans-serif;
        font-size: 1.5rem;
        margin: 2rem 0;
        border: 1px solid #0F4411;
        border-radius: 10px;
        padding: 0.5rem 10%;
    }

    form label.top::placeholder {
        color: black;
    }
    
    form legend {
        color: #0F4411;
        margin: 0 1rem;
        padding: 0 .5rem;
    }
    
    form label.top {
        display: block;
        padding-top: 1rem;
        color: black;
        font-size: 1.15rem;
    }
    
    form label.top input, form label.top select {
        display: block;
        font-size: 1rem;
        border: solid 1px #B58F40;
        border-radius: 4px;
        padding: .75rem;
        color: black;
        width: 100%;
        max-width: 30rem;
        background-color: #B58F40;
    }
    
    form label.sbs {
        font-size: 1.5rem;
        display: block;
        padding: .75rem 0;
        color: black;
    }

    form label.sbs.radio {
        font-size: 2rem;
    }

    
    form input.submitBtn {
        border: none;
        background-color: #0F4411;
        color: white;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 0 0 2rem 2%;
        width: 96%;
        max-width: 20rem;
    }
    
    table {
        float: right;
        margin-top: 475px;
        margin-right: 150px;
    }
    
    th {
        font-family:'Bree Serif', serif;
        font-size: .9rem;
        letter-spacing: 1px;
    }

    td {
        font-family:'Bree Serif', serif;
        font-size: .7rem;
        letter-spacing: 1px;
    }
    
    
    tr:nth-child(even) {
        background-color: #B58F40;
    }

    tr:nth-child(odd) {
        border: none;
    }
    
    
    .jointable .header, .jointable .title {
        font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    }
    
    .jointable .header {
        text-align: center;
        font-size: 1.5rem;
        background-color: #0F4411;
        border: none;
        color:#EBE7DE;
        letter-spacing: 2px;
    }
    
    .jointable .title {
        text-align: center;
        font-size: .8rem;
        border: none;
        background-color: #0F4411;
        color: #EBE7DE;
        letter-spacing: 2px;
    }
    
    table, th, td {
        border-collapse: collapse;
        padding: 6px;
        text-align: center;
    }
    
    .jointable caption {
        caption-side: bottom;
        font-family: 'Noto Sans Adlam Unjoined', sans-serif;
        font-size: 12px;
        text-align: left;
    }

    .thanks {
        background-color: white;
        grid-column: 1/4;
    }

    .thanks img {
        position: relative;
        margin: 0 auto;
    }
    
    .directory {
        font-size: 2.25rem;        
    }
    
    .cards h3, .cards h4 {
        font-size: 1rem;
    }
    
    .cards p {
        font-size: .95rem;
    }
    
    .cards a {
        font-size: .95rem;
    }

    .list section {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

#contact, #contactpage {
    grid-column: 1/4;
}

#contact {
    font-family:'Noto Sans Adlam Unjoined', sans-serif;
    text-align: center;    ;
}

#contact h2 {
    font-size: 2rem;
}

#contact h3 {
    font-size: 1.75rem;
}

#contact p, #contact a {
    font-size: 1.5rem;
}

#contactpage p {
    font-size: 1.5rem;
}

form label.main {
    font-size: 1.15rem;
}

form fieldset.contact {
    border: none;
}

form legend {
    margin-left: -10px;
}

form label.main input, form label.main select {
    font-size: 1.15rem;
    width: 100%;
    max-width: 60rem;
}

form input.contactSubmitBtn {
    width: 100%;
    margin-left: 160px;
}

