body {
    margin: 0 auto;
    max-width: 100%;
    background-color: #EBE7DE;
}

.banner {
    background:#0F4411;
}

.banner-content {
    padding: 12px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner-text p {
    margin-left: 45px;
    line-height: 1;
    font-family: 'Bree Serif', serif;
    font-size: .65rem;
    color: #EBE7DE;
}

.banner-close {
    background: none;
    border: none;
    cursor: pointer;
    color: #EBE7DE
}

header {
    display: grid;
    grid-template-columns: 20% 40% 25% 15%;
    background-color: #000000;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    color: #B58F40;
    margin: 0;
}
.header {
    font-size: 1em;
    text-align: center;
    padding: 10px;
}

.logo {
    width: 90%;
    padding: 15px;
}

nav button {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #B58F40;
    margin-right: -30px;
}
nav {
    display: flex;
    background-color: #000000;
    font-family: 'Bree Serif', serif;
}

nav img {
    width: 90%;
    margin-top: 35px;
}

nav ul {
    list-style: none;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #B58F40;
}

nav ul li.active a {
    background-color:#B58F40;
    color: #555;
}


nav ul li a:hover {
    background-color: #B58F40;
    color: #000000;
    transition: transform 1.2s;
}

nav ul {
    display: none;
}

nav.ul {
    display: block;
}

.current-date {
    grid-column: span 4;
    text-align: center;
    font-size: 0.7em;
    background-color:rgb(61, 61, 61);
    color:#B58F40;
    padding: 5px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}


#hero h4 {
    position: absolute;
    z-index: 1;
    color:#EBE7DE;
    padding: 12px;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    background-color: #0F4411;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 1px #555;
    font-size: .75rem;
    
}

#hero img {
    width: 97%;
    padding: 5px;
}


.herojoin {
    background-color: black;
    font-family: 'Bree Serif', serif;
    font-size: .8rem;
    color:#B58F40;
    position: absolute;
    right: 20px;
    top: 300px;
    
}


#news {
    
    border: 1px solid #000000;
    margin-top: 5px;
    padding: 15px;
    background: #0F4411;
    color:#EBE7DE;
}

#news h4, #news h5 {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
}

#news p {
    font-family: 'Bree Serif', 'serif';
    margin-bottom: 10px;
}

#event {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;;
}

#event h4 {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
}

#event p {
    font-family: 'Bree Serif', 'serif';
    margin-bottom: 10px;
}

#event img {
    width: 30%;
}

#weather {
    border: 1px solid #000000;
    margin-top: 10px;
    padding: 10px;
    background: #0F4411;
    color:#EBE7DE;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
}

#weather img {
    width: 25%;
    padding-right: 30px;
}

#weather p {
    font-family: 'Bree Serif', 'serif';
}

.weathercontainer p {
    font-size: 1.5rem;
    display: flex;  
    justify-content: center;  
    align-items: flex-start;
}

#join {
    display: none;
}

#spotlight {
    border: 1px solid #000000;
    margin-top: 10px;
    padding: 10px;
    background: #0F4411;
    color:#EBE7DE;
    margin-bottom: 10px;
}

.patty-card img, .roccos-card img {
    width: 50%;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #555;
    
}

.patty-card h5, .spotlight1 h4, .roccos-card h5, .spotlight2 h4 {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
}

.patty-card, .roccos-card {
    font-family: 'Bree Serif', 'serif';
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px dashed black;
    padding-bottom: 20px;
    border-radius: 30px;
    background-color:#EBE7DE;
    color:rgb(61, 61, 61);
}

.spotlight3 {
    display: none;
}

#discover img {
    position: relative;
    margin: 3% auto;
    margin-left: 4px;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px #222222;
    width: 97%;

}

  .text {
    margin: 1% auto;
    background-color: #0F4411;
    color: #EBE7DE;
    font-family: 'Bree Serif', 'serif';
    font-size: 12px;
    text-align: center;
    padding: 5px;
    border: 1px dashed #B58F40;
    border-radius: 15px;
  }

  .visitnum {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 5px;
  }
  
  .joinpage {
    font-family: 'Bree Serif', 'serif';
    margin: 0 auto;
    text-align: center;
  }


#joinpage {
    min-height: 20rem;
    margin: 2% auto;
    margin-left: 2px;
    width: 100%;
    max-width: 20rem;
}

form fieldset {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    font-size: 1rem;
    margin: 0 auto;
    border: 1px solid #0F4411;
    border-radius: 10px;
    padding: 0.5rem 10%;
}

form label.top::placeholder {
    color: black;
}

form legend {
    color: #0F4411;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
}

form label.top input, form label.top select {
    display: block;
    font-size: .8rem;
    border: solid 1px #B58F40;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 30rem;
    background-color: #B58F40;
}

form label.sbs {
    font-size: 1rem;
    display: block;
    padding: .75rem 0;
    color: black;
}

#busdescription {
    width: 100%;
}

form input.submitBtn {
    border: none;
    background-color: #0F4411;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

table {
    width: 96%;
    max-width: 20rem;
}

th {
    font-family:'Bree Serif', serif;
    font-size: .7rem;
    letter-spacing: 1px;
}

td {
    font-family:'Bree Serif', serif;
    font-size: .5rem;
    letter-spacing: 1px;
}


tr:nth-child(even) {
    background-color: #B58F40;
}

tr:nth-child(odd) {
    border: none;
}


.jointable .header, .jointable .title {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
}

.jointable .header {
    text-align: center;
    font-size: 1.1rem;
    background-color: #0F4411;
    border: none;
    color:#EBE7DE;
    letter-spacing: 2px;
}

.jointable .title {
    text-align: center;
    font-size: .7rem;
    border: none;
    background-color: #0F4411;
    color: #EBE7DE;
    letter-spacing: 2px;
}

table, th, td {
    border-collapse: collapse;
    padding: 4px;
    text-align: center;
}

.jointable caption {
    caption-side: bottom;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    font-size: 12px;
    text-align: left;
}

.thanks {
    text-align: center;
    margin: 0.5% 0.5%;;
    background-color: white;
}

.thanks img {
    position: relative;
    margin: 0 auto;
}
footer {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #000000;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    color: #B58F40;
}

.footer-logo {
    padding: 5px;
    width: 10%;
}

.footer-phone {
    color: #B58F40;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.75rem;
}

footer a {
    text-decoration: none;
    color: #B58F40;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.75rem;
}

footer h4, p {
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
}

.base-footer {
    padding: 5px;
    border-top:1px solid #555;
    font-family: 'Bree Serif', serif;
    font-size: xx-small;

}

