body {
    margin: 0 auto;
    max-width: 100%;
    background-color: #EBE7DE;
}

.banner {
    background:#0F4411;
}

.banner-content {
    padding: 12px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner-text p {
    margin-left: 45px;
    line-height: 1;
    font-family: 'Bree Serif', serif;
    font-size: .65rem;
    color: #EBE7DE;
}

.banner-close {
    background: none;
    border: none;
    cursor: pointer;
    color: #EBE7DE
}

header {
    display: grid;
    grid-template-columns: 20% 40% 25% 15%;
    background-color: #000000;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    color: #B58F40;
    margin: 0;
}
.header {
    font-size: 1em;
    text-align: center;
    padding: 10px;
}

.logo {
    width: 90%;
    padding: 15px;
}

nav button {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #B58F40;
    margin-right: -30px;
}
nav {
    display: flex;
    background-color: #000000;
    font-family: 'Bree Serif', serif;
}

nav img {
    width: 90%;
    margin-top: 35px;
}

nav ul {
    display: none;
    list-style: none;
}

nav ul.open {
    display: block;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #B58F40;
}

nav ul li.active a {
    background-color:#B58F40;
    color: #555;
}


nav ul li a:hover {
    background-color: #B58F40;
    color: #000000;
    transition: transform 1.2s;
}


.current-date {
    grid-column: span 4;
    text-align: center;
    font-size: 0.7em;
    background-color:rgb(61, 61, 61);
    color:#B58F40;
    padding: 5px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}


#hero h4 {
    position: absolute;
    z-index: 1;
    color:#EBE7DE;
    padding: 12px;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    background-color: #0F4411;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 1px #555;
    font-size: .75rem;
    
}

#hero img {
    width: 97%;
    border: 5px solid black;
}


.herojoin {
    background-color: black;
    font-family: 'Bree Serif', serif;
    font-size: .8rem;
    color:#B58F40;
    position: absolute;
    right: 20px;
    top: 300px;
    padding: 1%;
    border-radius: 10px;;
}


#news {
    
    border: 1px solid #000000;
    margin-top: 5px;
    padding: 15px;
    background: #0F4411;
    color:#EBE7DE;
}

#news h4, #news h5 {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
}

#news p {
    font-family: 'Bree Serif', 'serif';
    margin-bottom: 10px;
}

#event {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;;
}

#event h4 {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
}

#event p {
    font-family: 'Bree Serif', 'serif';
    margin-bottom: 10px;
}

#event img {
    width: 30%;
}

#weather {
    border: 1px solid #000000;
    margin-top: 10px;
    padding: 10px;
    background: #0F4411;
    color:#EBE7DE;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    letter-spacing: 1.5px;
}

#weather p {
    font-family: 'Bree Serif', 'serif';
    letter-spacing: 1px;
}

.weathercontainer {
    position: relative;
    float: right;
    padding-right: 15%;
    letter-spacing: 1px;
}

.weathercontainer p{
    font-size: 3rem;
    letter-spacing: 2px;
}


#join {
    display: none;
}

#spotlight {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    text-align: center;
    border: 1px solid #000000;
    margin-top: 10px;
    padding: 10px;
    background: #0F4411;
    color:#EBE7DE;
    margin-bottom: 10px;
    border-radius: 10px;
}

 #spotlight-cards img {
    width: 50%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #555; 
} 

#spotlight-cards {
    font-family: 'Bree Serif', 'serif';
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px dashed black;
    padding-bottom: 20px;
    border-radius: 30px;
    background-color:#EBE7DE;
    color:rgb(61, 61, 61);
    margin: .5rem;
}

#spotlight-cards a {
    text-decoration: none;
    font-size: .8rem;
    cursor: pointer;
}

#discover img {
    position: relative;
    margin: 3% auto;
    margin-left: 4px;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px #222222;
    width: 97%;

}

  .text {
    margin: 1% auto;
    background-color: #0F4411;
    color: #EBE7DE;
    font-family: 'Bree Serif', 'serif';
    font-size: 12px;
    text-align: center;
    padding: 5px;
    border: 1px dashed #B58F40;
    border-radius: 15px;
  }

  .visitnum {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 5px;
  }
  
  .joinpage {
    font-family: 'Bree Serif', 'serif';
    margin: 0 auto;
    text-align: center;
  }


#joinpage {
    min-height: 20rem;
    margin: 2% auto;
    margin-left: 2px;
    width: 100%;
    max-width: 20rem;
}

form fieldset {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    font-size: 1rem;
    margin: 0 auto;
    border: 1px solid #0F4411;
    border-radius: 10px;
    padding: 0.5rem 10%;
}

form label.top::placeholder {
    color: black;
}

form legend {
    color: #0F4411;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
}

form label.top input, form label.top select {
    display: block;
    font-size: .8rem;
    border: solid 1px #B58F40;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 30rem;
    background-color: #c9b280;
}

form label.sbs {
    font-size: 1rem;
    display: block;
    padding: .75rem 0;
    color: black;
}

#busdescription {
    width: 100%;
}

form input.submitBtn {
    border: none;
    background-color: #0F4411;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

table {
    width: 96%;
    max-width: 20rem;
}

th {
    font-family:'Bree Serif', serif;
    font-size: .7rem;
    letter-spacing: 1px;
}

td {
    font-family:'Bree Serif', serif;
    font-size: .5rem;
    letter-spacing: 1px;
}


tr:nth-child(even) {
    background-color: #B58F40;
}

tr:nth-child(odd) {
    border: none;
}


.jointable .header, .jointable .title {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
}

.jointable .header {
    text-align: center;
    font-size: 1.1rem;
    background-color: #0F4411;
    border: none;
    color:#EBE7DE;
    letter-spacing: 2px;
}

.jointable .title {
    text-align: center;
    font-size: .7rem;
    border: none;
    background-color: #0F4411;
    color: #EBE7DE;
    letter-spacing: 2px;
}

table, th, td {
    border-collapse: collapse;
    padding: 4px;
    text-align: center;
}

.jointable caption {
    caption-side: bottom;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    font-size: 12px;
    text-align: left;
}

.thanks {
    font-family: 'Bree Serif', serif;
    text-align: center;
    margin: 0.5% 0.5%;;
    background-color: white;
}

.thanks img {
    position: relative;
    margin: 0 auto;
}

#directory {
    display: block;
}

.directory {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    margin: 0 auto;
    
}

#grid, #list {
    margin: 1rem auto;
    border: 1px solid #0F4411;
    font-family:'Noto Sans Adlam Unjoined', sans-serif;
    color: #EBE7DE;
    padding: 0.75rem;
    text-align: center;
    background-color:#0F4411;
    box-shadow: inset 0 1px #fff, inset 0 -1px 1px #aaa, 0 2px 4px -3px #666;
}

#grid:hover, #list:hover {
    box-shadow: inset 0 1px 1px #aaa, inset 0 -1px 1px #aaa;
    border-color: #888 #aaa #eee;
}
#grid.down, #list.down {
    box-shadow: inset 0 1px 1px #aaa, inset 0 8px 16px -4px #aaa, inset 0 -1px 1px #aaa;
    border-color: #888 #aaa #eee;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.cards section {
    margin: 0.75rem;
    padding: 0.75rem;
    background-color: white;
    border: 1px solid #0F4411;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px #555;
}

.cards h3, .cards h4  {
    margin: 0 auto;
    padding: 0;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
}

div.cards h3 {
    font-size: 0.8rem;
}

div.cards h4 {
    font-size: 0.6rem;
}

.cards p {
    font-family: 'Bree Serif', serif;
    font-size: .7rem;
}

.cards a {
    font-family: 'Bree Serif', serif;
    font-size: .7rem;
    text-decoration: none;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; 
}

.list section h3 {
	font-size: 0.8rem;
	font-family: 'Noto Sans Adlam Unjoined', sans-serif;
}

.list section h4 {
    font-size: 0.6rem;
	font-family: 'Noto Sans Adlam Unjoined', sans-serif;
}

.list section p, .list section a {
    font-family: 'Bree Serif', serif;
    font-size: .7rem; 
}

.list section:nth-child(even) {
	background-color:#aaa;
}

#contact {
    font-family:'Noto Sans Adlam Unjoined', sans-serif;
    text-align: center;
}

#contact h3 {
    font-family:'Noto Sans Adlam Unjoined', sans-serif;
    text-align: center;
    margin: 0 auto;
}

#contact p, #contact a {
    font-family: 'Bree Serif', serif;
    font-size: 1rem;
    text-align: center;
    padding: 2%;
}

#contact a {
    display: block;
    text-decoration: none;
    color: black;
}

#contactpage p {
    font-family: 'Bree Serif', serif;
    font-size: 1rem;
    text-align: center;
    padding: 2%;
}

form label.main input, form label.main select {
    display: block;
    font-size: .8rem;
    border: solid 1px #B58F40;
    border-radius: 4px;
    padding: .55rem;
    color: black;
    width: 97%;
    max-width: 20rem;
    background-color: #c9b280;
}

form label.main::placeholder {
    color: whitesmoke;
}

form label.main {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
}

form input.contactSubmitBtn {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    border: none;
    background-color: #0F4411;
    color: white;
    border-radius: 1rem;
    padding: .5rem;
    margin: 0 0 2%;
    width: 50%;
    
}


footer {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #000000;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    color: #B58F40;
}

.footer-logo {
    padding: 5px;
    width: 10%;
}

.footer-phone {
    color: #B58F40;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.75rem;
}

footer a {
    text-decoration: none;
    color: #B58F40;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.75rem;
}

footer h4, p {
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
}

.base-footer {
    padding: 5px;
    border-top:1px solid #555;
    font-family: 'Bree Serif', serif;
    font-size: xx-small;

}
